.menu-box {
    margin: 10px;
    padding: 10px;
}
.menu-box ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
ul.menu-list.nested-sortable li {
    display: block;
    margin-bottom: 5px;
    background: #fff;
}
ul.menu-list.nested-sortable li div.li-content {
    border: 1px solid #ccc;
    padding: 5px;
    max-width: 100%;
    margin-right: 5px;
}     
ul.menu-list.nested-sortable li div.li-content:hover {
    border-color: #2abb9b;
}     
ul.menu-list.nested-sortable > li div.li-content .glyphicon {
    font-size: 18px;
    top: 3px;
    cursor: pointer;
}
ul.menu-list.nested-sortable li div.li-content .glyphicon.sortable-handle {
    cursor: move;
}
ul.menu-list.nested-sortable ul {
    margin-left: 30px;
    margin-top: 5px;
}
ul.menu-list.nested-sortable ul li a {
    color: blue;
}
li.menu-highlight {
    border: 1px dashed red !important;
    background: #f5f5f5;
}

.cbx-container {
    position: relative;
    top: -2px;
    margin-right: 5px;
}