/*
########################################
 (c)2017 CREDIT INFO
########################################

 @CSS Document;

 Author: Savin Cristian
 Author-email: savin.cristian95@icloud.com
 Start Date: 31. 03. 2017
 Finish Date: 06. 04. 2017

*/



/*
    Custom marin top & bottom classes
*/
.mt5{margin-top:5px!important}
.mt10{margin-top:10px!important}
.mt15{margin-top:15px!important}
.mt20{margin-top:20px!important}
.mt25{margin-top:25px!important}
.mt30{margin-top:30px!important}
.mt35{margin-top:35px!important}
.mt40{margin-top:40px!important}
.mt45{margin-top:45px!important}
.mt50{margin-top:50px!important}
.mt55{margin-top:55px!important}
.mt60{margin-top:60px!important}
.mt65{margin-top:65px!important}
.mt70{margin-top:70px!important}
.mt75{margin-top:75px!important}
.mt80{margin-top:80px!important}
.mt85{margin-top:85px!important}
.mt90{margin-top:90px!important}

.mb5{margin-bottom:5px!important}
.mb10{margin-bottom:10px!important}
.mb15{margin-bottom:15px!important}
.mb20{margin-bottom:20px!important}
.mb25{margin-bottom:25px!important}
.mb30{margin-bottom:30px!important}
.mb35{margin-bottom:35px!important}
.mb40{margin-bottom:40px!important}
.mb45{margin-bottom:45px!important}
.mb50{margin-bottom:50px!important}
.mb55{margin-bottom:55px!important}
.mb60{margin-bottom:60px!important}
.mb65{margin-bottom:65px!important}
.mb70{margin-bottom:70px!important}
.mb75{margin-bottom:75px!important}
.mb80{margin-bottom:80px!important}
.mb85{margin-bottom:85px!important}
.mb90{margin-bottom:90px!important}



/* General */
*{
    outline: none;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

span{
    display: inline-block !important;
}
/* Links */
a, a:visited {
    color: #036AD2;
    text-decoration: none;
}
body{
    font-family: 'PT Sans Narrow', sans-serif;
}
/* MOBILE MENU */
.header .mobile-menu a, .header-contact-page .mobile-menu a{
    color: #fff;
    font-size: 40px;
    position: absolute;
    top: 25px;
    left: 50px;
    display: none;
}

.background-header{
    background: url("../images/header-top-bg.png")0 0 no-repeat;
    background-size: 100%;
}
.header{
    background: url("../images/header-bg.png")no-repeat 0 0, rgba(0,0,0, 1);
    background-size: cover;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}
@media screen and (min-width: 2000px) and (max-width: 2900px){
    .background{
        background: #f0f0f0;
    }
}
@media screen and (min-width: 90px) and (max-width: 1999px){
    .background{
        background: url("../images/bg-shape.png") top left repeat-y, url("../images/bg-shape.png ") top right repeat-y;
        background-size: cover;
    }
}

.header .top-menu ul{
    list-style-type: none;
    padding: 42px 0;
}
.header .top-menu ul li{
    display: inline-block;
    padding-left: 20px;
}
.header .top-menu ul li a{
    color: #fff; /* text color */
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 14px;
    padding: 12px 18px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.header .top-menu ul li a:hover{
    background-color: #226b9b;
    text-decoration: none;
}
.header .language-box {
    padding: 42px 0;
    float: right;
}
.header .language-box a{
    color: #fff; /* text color */
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 14px;
    background-color: #226b9b; /* layer fill content */
    padding: 12px 18px; ;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    text-transform: uppercase;
}
.header .language-box a:hover{
    text-decoration: none;
}
.header .table{
    display: table;
    max-width: 560px;
    width: 100%;
    margin: 150px auto;
    margin-top: 110px;
}
.header .table .middle{
    display: table-cell;
    vertical-align: middle;
    padding-right: 10px;
}
.header .table .middle h1{
    color: #fff; /* text color */
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-top: 17px;
}
.header .bottom-menu .uk-width-1-2 .uk-width-medium-1-3{
    padding-left: 0;
}
.header .bottom-menu{
    padding-left: 35px;
}
.header .bottom-menu .link-page a{
    display: block;
    text-align: center;
    background: #226b9b;
    color: #fff;
    max-width: 185px;
    width: 100%;
    height: 60px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    border: 2px solid transparent;
}
.header .bottom-menu .link-page a:hover{
    background: #444;
    border: 2px solid #226b9b;
}
.header .bottom-menu .left .link-page a{
    padding: 20px 0;
}
.header .bottom-menu .left .link-page a i{
    margin-right: 5px;
}
.header .bottom-menu .right .link-page a{
    padding: 13px 0;
}
.header .bottom-menu .right .link-page a.padding1{
    padding-top: 18px;
}
.header .bottom-menu .right .link-page a.margin1 i{
    margin-right: 5px;
}
.header .bottom-menu .link-page a:hover{
    text-decoration: none;
}

.our-section{
    padding-top: 70px;
}

.our-section .title-section{
    max-width: 360px;
    width: 100%;
    background: #226b9b;
    padding: 10px 0 10px 14px;
}
.our-section .title-section h3{
    color: #fff; /* text color */
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 25px;
    font-weight: 100;
    padding: 0;
    margin: 0;
}
.our-section .uk-grid{
    margin-top: 0 !important;
}
.our-section .title-section{
    margin-top: -44px;
}
.our-section .title-section h3 span{
    font-weight: 900;
}
.our-section .more-info-left-box, .our-section .more-info-right-box{
    background: #f0f0f0;
    padding-top: 20px;
}
.our-section .more-info-left-box .top-description{
    padding-right :10px;
    padding-left: 25px;
}
.our-section .more-info-right-box{
    width: 100%;
}
.our-section .more-info-left-box .info-box{
    max-width: 700px;
    float: right;
    padding-bottom: 80px;
}
.our-section .more-info-left-box .info-box .title-posts p a{
    color: #434343; /* text color */
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 20px;
    font-weight: bold;
    float: left;
    max-width: 550px;
    width: 100%;
    line-height: 1.2;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.our-section .more-info-left-box .info-box , .our-section .more-info-right-box .info-box{
    position: relative;
}
.our-section .more-info-left-box .info-box .title-posts p a:hover{
    text-decoration: none;
    color: #297fb9;
}
.our-section .more-info-left-box .info-box .title-posts span{
    float: right;
    padding: 2px 15px;
    background-color: #297fb9; /* layer fill content */
    color: #fff; /* text color */
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 11px;
    position: relative;
    margin-top: -10px;
}
.our-section .more-info-left-box .info-box .description table{
    display: table;
}
.our-section .more-info-left-box .info-box .description .middle{
    display: table-cell;
    vertical-align: top;
}
.our-section .more-info-left-box .info-box .description .middle.middle1{
    width: 40%;
}
.our-section .more-info-left-box .info-box .description .middle.middle2{
    padding-left: 10px;
}
.our-section .more-info-left-box .info-box .description .middle a img{
    width: 100%;
}
.our-section .more-info-left-box .info-box .description .middle p{
    color: #434343; /* text color */
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 14px;
    text-align: justify;
    margin-top: -5px;
}
.our-section .more-info-left-box .info-box .posts .post-box{
    padding: 15px 10px 15px 25px;
    margin-top: 10px;
}
.our-section .more-info-left-box .info-box .posts .post-box a img{
    float: left;
    margin-right: 10px;
}
.our-section .more-info-left-box .info-box .posts .post-box span{
    float: right;
    padding: 2px 15px;
    background-color: #297fb9; /* layer fill content */
    color: #fff; /* text color */
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 11px;
    position: relative;
    margin-top: -5px;
}
.our-section .more-info-left-box .info-box .posts .post-box h5{
    margin: 0;
    margin-bottom:  5px;
}
.our-section .more-info-left-box .info-box .posts .post-box h5 a{
    color: #434343; /* text color */
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 20px;
    font-weight: bold;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.our-section .more-info-left-box .info-box .posts .post-box h5 a:hover{
    text-decoration: none;
    color: #297fb9;
}
.our-section .more-info-left-box .info-box .posts .post-box p{
    margin: 0;
    color: #434343; /* text color */
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 14px;
}

.post-box a img{
    width: 89px;
    height: 84px;
}
.our-section .more-info-left-box .info-box .posts .posts-box1{
    background: #fcfcfc;
    margin: 0;
}
.our-section .more-info-left-box .info-box .posts .posts-box2 {
    margin: 0;
}
.our-section .more-info-right-box .info-box {
    max-width: 360px;
    padding: 0 10px 0 15px !important;
}
.our-section .more-info-right-box .info-box h4{
    color: #434343; /* text color */
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 20px;
    font-weight: bold;
}
.our-section .more-info-right-box .info-box p{
    font-size: 14px;
    font-family: "PT Sans Narrow", sans-serif;
}
.our-section .more-info-right-box .info-box ul{
    list-style-type: none;
    padding: 0;
}
.our-section .more-info-right-box .info-box ul li{
    font-size: 12px;
    margin: 5px 0;
}
.our-section .more-info-right-box .info-box ul li a{
    float: right;
    background: #147fad;
    padding: 0 5px;
    display: inline-block;
    border-radius: 5px;
    color: #fff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.our-section .more-info-right-box .info-box ul li a:hover{
    text-decoration: none;
    color: red;
}
.our-section .more-info-right-box .info-box .more-results, .our-section .more-info-left-box .info-box .more-results{
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -45.5px;
    margin-bottom: 20px;
}
.our-section .more-info-right-box .info-box .more-results a, .our-section .more-info-left-box .info-box .more-results a{
    color: #727272; /* text color */
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 14px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.our-section .more-info-right-box .info-box .more-results a:hover, .our-section .more-info-left-box .info-box .more-results a:hover{
    text-decoration: none;
    color: #147fad;
}
.our-section .more-info-right-box .info-box .more-results a:hover span,
.our-section .more-info-left-box .info-box .more-results a:hover span{
    border-color: #147fad;
}
.our-section .more-info-right-box .info-box .more-results a span,
.our-section .more-info-left-box .info-box .more-results a span{
    border-bottom: 2px solid #ccc;
    width: 70px;
    height: 2px;
    margin: 0 auto;
    display: block !important;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.our-services-description{
    background: url("../images/verne-ho-26448-copy.png") 0 0 no-repeat , rgba(0,0,0, 1);
    background-size: cover;
    padding: 50px 200px;
    margin-top: 20px !important;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}
.our-services-description .title-section h3{
    color: #fff; /* text color */
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 25px;
}
.our-services-description .title-section h3 span{
    font-weight: 900;
}
.our-services-description .description p{
    margin-top: 50px;
    color: #fff; /* text color */
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 14px;
    text-align: left;
}
.our-services-description-tab .container{
    background: #f0f0f0;
    padding-top: 40px;
}
.our-services-description-tab .container ul{
    border: none;
}
.our-services-description-tab .container ul li{
    display: block;
}
.our-services-description-tab .container ul li a{
    border: 0;
    display: block;
    color: #434343; /* text color */
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 18px;
    text-align: right;
    padding: 22px 50px;
}
.our-services-description-tab  .drop-down, .creditare.servicii-page .drop-down{
    color: #444;
    font-size: 30px;
    width: 100%;
    text-align: center;
    display: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.creditare.servicii-page .drop-down:hover,
.tab-box.servicii-page .drop-down:hover{
    color: #fff;
    text-decoration: none;
}
.our-services-description-tab  .drop-down i{
    margin-left: 10px;
}
.our-services-description-tab  .drop-down:hover{
    text-decoration: none;
    color: #297fb8;
}
.our-services-description-tab .container ul li a i{
    position: absolute;
    margin-left: 7px;
    top: 25px;
    font-size: 14px;
}
.our-services-description-tab .container ul li a:hover{
    background: #dedede;
}
.our-services-description-tab .container ul .uk-tab-responsive{
    display: none;
}
.our-services-description-tab .container #tab li{
    border: none;
}
.our-services-description-tab .container .uk-tab>li{
    margin: 0;
    border: none;
}
.our-services-description-tab .container .uk-tab>li:nth-child(n+2)>a{
    margin: 0;
    border: none;
}
.our-services-description-tab .container .uk-tab > li.uk-active > a:hover{
    border: none;
}
.our-services-description-tab .container .uk-tab > li > a:hover{
    border: none;
}
.our-services-description-tab .container .uk-tab > li > a{
    border: none;
}
.our-services-description-tab .container .uk-tab>li:not(.uk-active)>a:hover, .uk-tab>li:not(.uk-active)>a:focus, .uk-tab>li.uk-open:not(.uk-active)>a{
    margin: 0;
    padding: 22px 50px;
}
.our-services-description-tab .container .uk-tab-left>li:not(.uk-active)>a:focus, .uk-tab-left>li:not(.uk-active)>a:hover
{
    margin: 0;
    padding: 0;
}
.our-services-description-tab .container .uk-tab-left>li:not(.uk-active)>a:focus, .uk-tab-left>li:not(.uk-active)>a:hover{
    margin: 0;
    padding: 0;
}
.our-services-description-tab .container .uk-tab-left > li.uk-active a{
    background: #dedede;
}
.our-services-description-tab .tab-content{
    background: #dedede;
    padding: 30px 30px;
    margin: 0;
}
.our-services-description-tab .tab-content ul#tab{
    max-width: 780px;
}
.our-services-description-tab .uk-width-medium-6-10{
    padding-left: 0;
}
.our-services-description-tab .tab-content ul#tab li ul{
    list-style-type: none;
    padding: 0;
}
.our-services-description-tab .tab-content ul#tab li ul li{
    color: #444; /* text color */
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 14px;
    margin: 7px 0;
}
.our-services-description-tab .tab-content ul#tab li ul li i{
    font-size: 12px;
    color: #444;
    font-weight: 100;
    margin-right: 7px;
}
.our-services-description-tab .tab-content ul#tab p{
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 14px;
}
.our-services-description-tab .tab-content ul#tab p span{
    font-weight: bold;
}
.parteners-section .title-section{
    padding-top: 50px;
}
.parteners-section .title-section h3{
    text-align: center;
    color: #297fb8; /* text color */
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 25px;
}
.parteners-section .title-section h3 span{
    font-weight: bold;
}
.parteners-section .parteners-box{
    background: #f0f0f0;
    margin-bottom: 30px;
}
.parteners-section .parteners-box.item3 a{
    height: 100px !important;
    position: relative;
    padding: 20px 0;
}
.parteners-section .parteners-box.item3.box4 a{
    padding-top: 30px;
}
.parteners-section .parteners-box.item3.box5 a{
    padding-top: 25px;
}
.parteners-section .parteners-box.item3.box6 a{
    padding-top: 25px;
}
.parteners-section .parteners-box.item3.box7 a{
    padding-top: 10px;
}
.parteners-section .parteners-box.item3.box8 a{
    padding-top: 30px;
}
.parteners-section .parteners-box.item3.box9 a{
    padding-top: 30px;
}
.parteners-section .parteners-box.item3.box10 a{
    padding-top: 15px;
}
.parteners-section .parteners-box img{
    display: block;
    margin: 0 auto;
}
.parteners-section .parteners-box a{
    display: block;
    width: 100%;
    height: 100%;
}
.parteners-section .parteners-box{
    border: 3px solid transparent;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.parteners-section .parteners-box:hover{
    border: 3px solid #444;
}
.our-adress .title-section{
    max-width: 380px;
}
.our-adress .title-section h3{
    background: #2980b9;
    padding: 13px;
    color: #fff; /* text color */
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 25px;
    margin: 0;
}
.our-adress .title-section h3 span{
    font-weight: bold;
}
.our-adress .uk-width-medium-6-10{
    max-width: 57.9%;
    width: 100%;
}
.our-adress .uk-width-medium-4-10{
    max-width: 42%;
    width: 100%;
}
.our-adress .box1{
    position: relative;
    left: 19%;
}
#map{
    width: 100%;
    height: 93%;
}
.our-adress .contacts{
    background: #f0f0f0;
    padding: 25px;
}
.our-adress .contacts .contacts-box{
    max-width: 360px;
    width: 100%;
}
.our-adress .contacts .contacts-box h4{
    color: #434343; /* text color */
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 20px;
}
.our-adress .contacts .contacts-box p{
    color: #434343; /* text color */
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 16px;
    margin: 0;
}
.our-adress .contacts .contacts-box ul{
    list-style-type: none;
    padding: 0;
}
.our-adress .contacts .contacts-box ul li i{
    margin-right: 10px;
}
.our-adress .contacts .contacts-box ul li{
    /*padding: 5px 0;*/
    line-height: 27px;
padding-left: 30px;
position: relative;
}
.our-adress .contacts .contacts-box ul li img{
    margin-top: -5px;
}
.our-adress .contacts .contacts-box ul li.padding{
    padding-left: 29px;
}
.our-adress .contacts .contacts-box ul li a{
    color: #2980b9;
    padding: 5px 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.our-adress .contacts .contacts-box ul li a:hover{
    text-decoration: none;
    border-bottom: 1px solid #2980b9;
}

.our-adress .contacts .contacts-box ul.all-padding li i,
.our-adress .contacts .contacts-box ul li i{
margin: auto;
position: absolute;
top: 0; left: 0; 
}

.our-adress .contacts .contacts-box ul.all-padding li i.uk-icon-chevron-right{
    margin-left: 7px;
    color: #2980b9;
    top: 7px;
}
.footer{
    padding: 40px 0 60px 0;
    background: #f0f0f0;
    margin-top: 20px;
}
.footer .footer-menu ul{
    list-style-type: none;
    padding: 0;
}
.footer .copyright{
    padding-bottom: 45px;
    border-bottom: 1px solid #e3e3e3;
    margin-bottom: 45px;
}
.footer .copyright a, p{
    color: #777; /* text color */
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 14px;
}
.footer .copyright a{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.footer .copyright a:hover{
    text-decoration: none;
    color: #2980b9;
}
.footer .footer-menu ul li{
    display: inline-block;
    padding: 0 10px;
}
.footer .footer-menu ul li a{
    color: #777; /* text color */
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 14px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    display: inline-block;
    padding: 5px 20px;
}
.footer .footer-menu ul li a:hover{
    text-decoration: none;
    background: #2980b9;
    color: #fff;
}


/* CONTACTE PAGE */
.header-contact-page{
    background: url("../images/contact-page-bg.png ")0 0 no-repeat;
    background-size: cover;
    padding: 15px 0  60px  0;
    margin-top: 0 !important;
    max-width: 1440px;
    width: 100%;
    margin: 15px auto;
}
.contact-bg-header{
    background: url("../images/bg-shape.png") 0 0 no-repeat;
    background-size: 100% 70%;

}
.header-contact-page .menu-nav  ul li{
    display: inline-block;
    padding: 0 10px;
}
.header-contact-page .menu-nav ul{
    padding: 10px 0 0 0;
}
.header-contact-page .menu-nav ul li a{
    color: #fff; /* text color */
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 14px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    display: inline-block;
    padding: 12px 18px; ;
}
.header-contact-page .menu-nav ul li a:hover{
    text-decoration: none;
    background: #2980b9;
}
.header-contact-page .uk-width-medium-8-10{
    padding-left: 0;
}
.header-contact-page .language-box {
    padding: 11px 0;
    float: right;
}
.header-contact-page .language-box a{
    color: #fff; /* text color */
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 14px;
    background: #2980b9;
    padding: 12px 18px; ;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    text-transform: uppercase;
}
.header-contact-page .language-box a:hover{
    text-decoration: none;
}
.header-contact-page .header-title{
    padding: 0 90px;
}
.header-contact-page .header-title h3{
    color: #fff; /* text color */
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 30px;
    margin: 0;
    line-height: 1.2;
}
.header-contact-page .header-title h3 span{
    font-weight: bold;
}
.header-contact-page .header-title h5{
    color: #fff; /* text color */
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
}
.our-adress .uk-width-medium-6-10{
    position: relative;
}
.our-adress .form{
    background: rgba(147,195,227, .4);
    position: absolute;
    z-index: 9999;
    top: 55%;
    padding: 35px 100px;
    max-width: 480px;
    width: 100%;
    left: 50%;
    margin-left: -240px;
    margin-top: -248px;
}
.our-adress .form label{
    display: block;
}
.our-adress .form label input{
    text-align: center;
    color: #297fb8; /* text color */
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 15px;
    background: #fff;
    width: 100%;
    padding: 20px 0;
    margin-bottom: 10px;
    display: block;
}
.our-adress .form label textarea{
    width: 100%;
    text-align: center;
    padding: 15px 35px;
    margin: 0;
    color: #297fb8; /* text color */
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 15px;
    height: 100px;
    border: none;
}
.our-adress .form label textarea::-webkit-input-placeholder {color:#2980b9;}
.our-adress .form label textarea::-moz-placeholder          {color:#2980b9;}/* Firefox 19+ */
.our-adress .form label textarea:-moz-placeholder           {color:#2980b9;}/* Firefox 18- */
.our-adress .form label textarea:-ms-input-placeholder      {color:#2980b9;}



.our-adress .form label input::-webkit-input-placeholder {color:#2980b9;}
.our-adress .form label input::-moz-placeholder          {color:#2980b9;}/* Firefox 19+ */
.our-adress .form label input:-moz-placeholder           {color:#2980b9;}/* Firefox 18- */
.our-adress .form label input:-ms-input-placeholder      {color:#2980b9;}

.our-adress .form h4{
    color: #fff; /* text color */
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 25px;
    text-align: center;
}
.our-adress .form button{
    color: #fff;
    text-align: center;
    background: #2980b9;
    margin-top: 10px;
    display: block;
    width: 100%;
    border: 0;
    padding: 20px 0;
}
.our-adress .form button i{
    margin-left: 5px;
}

/* CREDITARE PAGE */

.creditare{
    background: #f0f0f0;
    margin-bottom: 20px;
    padding: 20px 0 35px 0;
}
.creditare .side-bar-nav a{
    display: block;
    text-align: center;
    background: #2980b9;
    margin-bottom: 15px;
    padding: 10px 0;
    color: #fff;
    border: 1px solid transparent;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.creditare .side-bar-nav a:hover{
    background: #444444;
    border: 1px solid #2980b9;
    text-decoration: none;
}
.creditare .side-bar-nav a.padding{
    padding: 17px 0;
}
.creditare .side-bar-nav a.padding1{
    padding: 15px 0;
}
.creditare .document-section .document-box .table{
    display: table;
}
.creditare .document-section .document-box .table .middle{
    display: table-cell;
    vertical-align: top;
}

.creditare .document-section .document-box .table .middle.left-text{
    width: 75%;
}

.creditare .document-section .document-box .table .middle.right-text{
    width: 25%;
}


.creditare .document-section .document-box{
    background: #2980b9;
    padding: 0 9px;
    margin-bottom: 15px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.creditare .document-section .document-box a{
    color: #fff;
    padding: 19px 0;
    display: block;
}
.creditare .document-section .document-box a:hover{
    text-decoration: none;
}
.creditare .document-section .document-box:hover{
    background: #444444;
}
.creditare .popup-gallery .img-box{
    background: #193650;
    margin-bottom: 30px;
    position: relative;
    width: 100%;
}
.creditare .popup-gallery a img{
    width: 100%;
}
.creditare .popup-gallery a{
    display: block;
}
.creditare .popup-gallery a:hover img{
    opacity: .3;
}
.creditare .popup-gallery a:hover i{
    visibility: visible;
}
.creditare .popup-gallery a i{
    position: absolute;
    top: 50%;
    margin-top: -10px;
    left: 50%;
    margin-left: -10px;
    color: #fff;
    visibility: hidden;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.creditare .evenimente-box{
    margin-bottom: 30px;
}
.creditare .evenimente-box .img-box a img{
    height: 200px;
    width: 100%;
}
.creditare .evenimente-box .img-box a{
    height: 100%;
    width: 100%;
    opacity: .5;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
.creditare .evenimente-box .img-box a:hover{
    opacity: 1;
}
.creditare .evenimente-box .description-box{
    background: #fff;
    padding: 10px;
}
.creditare .evenimente-box .title-box{
    background: #2980b9;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.creditare .evenimente-box .title-box:hover{
    background: #444444;
}
.creditare .evenimente-box .title-box a{
    color: #fff; /* text color */
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 16px;
    font-weight: bold;
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px 5px;
}
.creditare .evenimente-box .title-box a:hover{
    text-decoration: none;
}
.creditare .evenimente-box .description-box p{
    color: #297fb8; /* text color */
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 14px
}
.creditare .pagination{
    float: right;
    max-width: 300px;
}

.creditare .pagination li{
    list-style: none;
    display: inline;
}
.creditare .pagination li.active a{    
    background: #7bb2d7;
}

.creditare .pagination li.disabled {    
    padding: 0 10px;
}




.creditare .pagination a{
    color: #fff;
    background: #2980b9;
    text-align: center;
    margin-left: 11px;
    padding: 5px 14.1px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.creditare .pagination a:hover{
    text-decoration: none;
    background: #444444;
}





.creditare .container{
    background: #2980b9;
}
.creditare .container ul{
    border: none;
}
.creditare .container ul li{
    display: block;
}
.creditare .container ul li a{
    border: 0;
    display: block;
    color: #fff; /* text color */
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 18px;
    text-align: left;
    padding: 22px 20px;
    width: 100%;
    border-radius: 0;
    text-shadow: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    position: relative;
}
.creditare .container ul li a i{
    position: absolute;
    top: 22px;
    right: 5px;
}
.creditare .container ul li a:hover{
    background: #dedede;
    color: #444;
}
.creditare .container ul .uk-tab-responsive {
    display: none;
}
.creditare .container #tab li{
    border: none;
}
.creditare .container .uk-tab>li{
    margin: 0;
    border: none;
}
.creditare .container .uk-tab>li:nth-child(n+2)>a{
    margin: 0;
    border: none;
}
.creditare .container .uk-tab > li.uk-active > a:hover{
    border: none;
}
.creditare .container .uk-tab > li > a:hover{
    border: none;
}
.creditare .container .uk-tab > li > a{
    border: none;
}
.creditare .uk-tab>li:not(.uk-active)>a:hover, .uk-tab>li:not(.uk-active)>a:focus, .uk-tab>li.uk-open:not(.uk-active)>a{
    margin: 0;
}
.creditare .container .uk-tab-left>li:not(.uk-active)>a:focus, .uk-tab-left>li:not(.uk-active)>a:hover
{
    margin: 0;
    padding: 0;
}
.creditare .container .uk-tab-left>li:not(.uk-active)>a:focus, .uk-tab-left>li:not(.uk-active)>a:hover{
    margin: 0;
    padding: 22px 20px;
    color: #444;
}
.creditare .container .uk-tab-left > li.uk-active a{
    background: #dedede;
    color: #444;
}
.creditare .tab-content{
    padding: 30px 30px;
    margin: 0;
}
.creditare .tab-content ul#tab{
    max-width: 780px;
}
.creditare .tab-content ul#tab li ul{
    list-style-type: none;
    padding: 0;
}
.creditare .tab-content ul#tab li ul li{
    color: #444; /* text color */
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 14px;
    margin: 7px 0;
}
.creditare .tab-content ul#tab li ul li i{
    font-size: 12px;
    color: #444;
    font-weight: 100;
    margin-right: 7px;
}
.creditare .tab-content ul#tab p{
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 14px;
}
.creditare .tab-content ul#tab p span{
    font-weight: bold;
}
.creditare.servicii-page .uk-width-medium-3-10,
.tab-box.servicii-page .uk-width-medium-3-10{
    width: 28%;
    margin-right: 23px;
}
.creditare.servicii-page .uk-width-medium-4-10,
.tab-box.servicii-page .uk-width-medium-4-10{
    padding: 0;
}
.creditare.servicii-page .uk-width-medium-6-10,
.tab-box.servicii-page .uk-width-medium-6-10{
    padding: 0;
}
.creditare.servicii-page,
.tab-box.servicii-page{
    padding: 0 !important;
    background: #f0f0f0;
}

.tab-box.servicii-page {margin-left: 35px;}
.creditare.servicii-page .side-bar-nav,
.tab-box.servicii-page .side-bar-nav{
    padding-top: 20px;
}
.creditare.servicii-page .uk-width-medium-7-10,
.tab-box.servicii-page .uk-width-medium-7-10{
    background: #dedede;
    padding-top: 20px;
}
.creditare.servicii-page .uk-width-1-1,
.tab-box.servicii-page .uk-width-1-1{
    padding-left: 0 !important;
}
.creditare.servicii-page .img-box,
.tab-box.servicii-page .img-box{
    position: relative;
}
.creditare.servicii-page .img-box img,
.tab-box.servicii-page .img-box img{
    width: 100%;
    height: 100%;
}
.creditare.servicii-page .img-box .paragraph,
.tab-box.servicii-page .img-box .paragraph{
    padding: 0 50px;
    position: absolute;
    top: 50%;
    margin-top: -50px;
}
.creditare.servicii-page .img-box .paragraph p,
.tab-box.servicii-page .img-box .paragraph p{
    color: #fff;
}



/* POPUP */
/* SEARCH POPUP */
.gallery{
    /* background: rgba(0,49,89, .8); */
    background: #fff;
    max-width: 1200px;
    z-index: 9999;
    position: relative;
    margin: 0 auto;
    padding: 20px;
}
.gallery .pop-up-slider{
    padding: 30px 0;
}
.gallery .title h4 {
    text-transform: uppercase;
    color: #226b9c;
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 25px;
    line-height: 1.2;
}
.gallery .title{
    padding: 0 20px;
    padding-top: 20px;
}
.gallery .mfp-close{
    color:  #444;
    right: 10px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.gallery .mfp-close:hover{
    text-decoration: none;
    color: #226b9c;
}
.gallery .title-form{
    margin-top: 60px;
}
.gallery .slider{
    max-height: 600px;
    height: 100%;
}
.gallery .slider{
    position: relative;
}
.gallery .slider button{
    border: none;
    background: none;
    position: absolute;
    top: 0;
}
.gallery .slider button.prev{
    left: 5px;
    top: 50%;
    margin-top: -15px;
}
.gallery .slider button.next{
    right: 5px;
    top: 50%;
    margin-top: -15px;
    z-index: 9999;
}
.gallery .slider .mySlides {
    display:none;
    width: 100% !important;
    max-height: 500px;
    height: 100%;
}
.gallery .uk-grid{
    margin: 0 !important;
}
.gallery  .uk-width-1-1{
    padding-left: 5px;
    position: relative;
}
.gallery  .prev-box{
    position: relative;
    top: -30px;
    height: 70px;
    z-index: 9999;
    width: 100%;
}
.gallery .prev-box:hover{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+45,0.96+62,0.93+73,0.89+80,0+100 */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 45%, rgba(255,255,255,0.96) 62%, rgba(255,255,255,0.93) 73%, rgba(255,255,255,0.89) 80%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 45%,rgba(255,255,255,0.96) 62%,rgba(255,255,255,0.93) 73%,rgba(255,255,255,0.89) 80%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 45%,rgba(255,255,255,0.96) 62%,rgba(255,255,255,0.93) 73%,rgba(255,255,255,0.89) 80%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
    }
.gallery .next-box{
    position: relative;
    height: 70px;
    z-index: 9999;
    margin-top: -45px;
}
.gallery .uk-grid .uk-width-1-2{
    padding: 0 10px;
}
.gallery .uk-grid .uk-width-medium-3-10{
    padding: 0;
}
.gallery .next-box a i{
    position: absolute;
    bottom: 0;
    margin-left: -9px;
}
.gallery .next-box a{
    display: block;
    width: 100%;
    height: 100%;
}
.gallery .next-box:hover{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,0.89+20,0.93+27,0.96+38,1+55 */
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.89) 20%, rgba(255,255,255,0.93) 27%, rgba(255,255,255,0.96) 38%, rgba(255,255,255,1) 55%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.89) 20%,rgba(255,255,255,0.93) 27%,rgba(255,255,255,0.96) 38%,rgba(255,255,255,1) 55%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.89) 20%,rgba(255,255,255,0.93) 27%,rgba(255,255,255,0.96) 38%,rgba(255,255,255,1) 55%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
.gallery .uk-width-1-2{
    padding-left: 10px;
}
.gallery .prev-box a, .gallery .next-box a{
    text-align: center;
    width: 100%;
    font-size: 20px;
    display: block;
    color: #444;
}
.gallery .scrool-box{
    overflow-y: scroll;
    height: 500px;
    margin-top: -70px;
}
.gallery .dots-box{
    cursor:pointer;
}
.gallery .dots-box{
    margin: 0 0 10px 0;
    background: #003159;
    position: relative;
}
.gallery .dots-box  i{
    position: absolute;
    color: #fff;
    top: 50%;
    margin-top: -10px;
    left: 50%;
    margin-left: -10px;
    display: none;
}
.gallery .dots-box img{
    height: 110px;
    width: 100%;
}
.gallery .dots-box img.active{
    opacity: .4;
}
.gallery .dots-box a:hover img{
    opacity: .4;
}
.gallery .dots-box a:hover i{
   display: block;
}
.mfp-title{
    display: none;
}


/*MOBILE MENU */
.uk-offcanvas-bar{
    background: #444;
}
.uk-offcanvas ul{
    list-style-type: none;
    padding: 5px 20px;
}
.uk-offcanvas ul li{
    padding: 5px;
}
.uk-offcanvas ul li a{
    color: #fff;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    font-size: 18px;
}
.uk-offcanvas ul li a:hover{
    color: #2980b9;
    text-decoration: none;
}
.uk-offcanvas img{
    margin: 5px auto;
    display: block;
}
.uk-offcanvas .last-menu{
    padding: 0;
    text-align: center;
    margin: 0;
}
.uk-offcanvas .last-menu li a{
    display: block;
    width: 100%;
    background: #2980b9;
    padding: 10px 0;
    border: 2px solid transparent;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.uk-offcanvas .last-menu li a:hover{
    text-decoration: none;
    background: #444;
    border: 2px solid #2980b9;
}


/* MEDIA QUERY */
@media (max-width: 1300px){
    .header-contact-page .menu-nav ul li{
        padding: 0;
    }
}
@media (max-width: 1230px){
    .header .top-menu ul li{
        padding: 0;
    }
    .creditare.servicii-page .uk-width-medium-3-10,
    .tab-box.servicii-page .uk-width-medium-3-10{
        width: 25%;
        margin-right: 35px;
    }
    .creditare.servicii-page .uk-grid,
    .tab-box.servicii-page .uk-grid{
        padding: 0;
    }
    .creditare.servicii-page .uk-container-center,
    .tab-box.servicii-page .uk-container-center{
        padding: 0;
    }
    .creditare.servicii-page .uk-width-medium-7-10,
    .tab-box.servicii-page .uk-width-medium-7-10{
        width: 70%;
    }
    .creditare.servicii-page .img-box .paragraph,
    .tab-box.servicii-page .img-box .paragraph{
        padding: 0 10px;
    }
}
@media (max-width: 1150px){
    .header .bottom-menu{
        padding-left: 22px;
    }
}
@media (max-width: 1024px){
    .our-adress .form{
        margin-left: -230px;
    }
    .creditare .uk-width-medium-7-10 .uk-width-medium-1-3{
        width: 50%;
    }
}
@media (max-width: 980px){
    .our-section .uk-width-medium-6-10{
        width: 100%;
    }
    .our-section .uk-width-medium-4-10{
        width: 100%;
    }
    .our-section .more-info-left-box .info-box{
        float: none;
        width: 100%;
        max-width: 100%;
    }
    .our-section .title-section{
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }
    .our-section .uk-width-medium-4-10 .title-section{
        margin-top: 0;
    }
    .our-section .more-info-right-box .info-box{
        width: 100%;
        max-width: 100%;
        padding: 70px 0 !important;
        padding-top: 0 !important;
    }
    .footer .footer-menu ul li{
        padding: 0;
    }
}
@media (max-width: 910px){
    .header-contact-page .menu-nav ul li a{
        padding: 12px 10px;
    }
    .header-contact-page .menu-nav ul{
        padding-left: 25px;
    }
    .gallery .uk-grid .uk-width-medium-3-10{
        display: none;
    }
    .gallery .uk-grid .uk-width-medium-7-10{
        width: 100%;
        padding: 0;
    }
    .gallery .title{
        padding-top: 30px;
        text-align: center;
    }
    .gallery .pop-up-slider{
        padding: 0;
    }
    .creditare.servicii-page .uk-width-medium-3-10,
    .tab-box.servicii-page .uk-width-medium-3-10{
        display: none;
    }
    .creditare.servicii-page .side-bar-nav,
    .tab-box.servicii-page .side-bar-nav{
        width: 100%;
        max-width: 380px;
        margin: 0 auto;
    }
    .creditare.servicii-page .uk-width-medium-7-10,
    .tab-box.servicii-page .uk-width-medium-7-10{
        width: 100%;
        padding: 0;
    }
    .contact-bg-header .uk-grid{
        margin: 0;
    }
    .creditare.servicii-page .uk-width-medium-4-10,
    .tab-box.servicii-page .uk-width-medium-4-10{
        padding-left: 45px;
    }
}
@media (max-width: 830px){
    .our-adress .uk-width-medium-6-10{
        width: 100%;
        max-width: 100%;
    }
    .our-adress #map{
        height: 200px;
    }
    .our-adress .uk-width-medium-4-10{
        width: 100%;
        max-width: 100%;
        margin-top: 50px;
    }
    .our-adress .contacts .contacts-box{
        margin: 0 auto;
        text-align: center;
    }
    .our-adress .title-section{
        width: 100%;
        max-width: 380px;
        position: static;
        text-align: center;
        margin: 0 auto;
    }
    .our-adress .contact-page{
        height: 600px !important;
    }
    .header .language-box{
        margin-right: 35px;
    }
    .our-adress .form{
        margin-left: -140px;
        max-width: 300px;
        padding: 10px 20px;
        top: 60%;
    }
}
@media (max-width: 820px){
    .header .top-menu ul li{
        display: none;
    }
    .our-services-description{
        padding: 20px;
    }
    .our-services-description .description p{
        text-align: center;
    }
    .parteners-section .uk-width-2-10{
        width: 50%;
        padding-left: 35px;
    }
}
@media (max-width: 780px){
    .header .bottom-menu .uk-width-1-2{
        width: 80%;
        margin: 10px auto;
    }
}
@media (max-width: 790px){
    .header .mobile-menu a, .header-contact-page .mobile-menu a{
        display: block;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
    }
    .header .mobile-menu a:hover, .header-contact-page .mobile-menu a:hover{
        color: #2980b9;
    }
    .our-adress .contact-page{
        height: 600px !important;
    }
    .header .language-box{
        margin-right: 35px;
    }
    .our-adress .form{
        margin-left: -140px;
        max-width: 300px;
        padding: 10px 20px;
        top: 60%;
    }
    .header-contact-page .menu-nav{
        display: none;
    }
    .header-contact-page .logo{
        display: none;
    }
    .header .table{
        margin-bottom: 10px;
        margin-top: 10px;
        display: block;
    }
    .header .table .middle{
        display: block;
        text-align: center;
        padding-left: 20px;
    }
    .header .bottom-menu{
        margin-top: 0 !important
    }
    .header .bottom-menu .uk-width-1-2 .uk-width-medium-1-3{
        width: 100%;
        margin: 5px 0;
    }
    .header .bottom-menu .uk-width-1-2{
        margin: 0 auto;
    }
    .header .bottom-menu .link-page a{
        width: 100%;
        max-width: 90%;
        margin: 0 auto;
    }
    .our-section .more-info-left-box .info-box .title-posts p a{
        float: none;
        text-align: center;
        display: block;
    }
    .our-section .more-info-left-box .info-box .title-posts span {
        float: none;
        width: 75px;
        position: relative;
        left: 50%;
        margin-left: -30px;
        margin-bottom: 15px;
    }
    .our-section .more-info-left-box .info-box .description .table .middle{
        display: block;
        width: 100%;
        margin-bottom: 20px;
    }
    .our-section .more-info-left-box .info-box .description .table{
        display: block;
    }
    .our-section .more-info-left-box .info-box .description .table .middle a img{
        display: block;
        width: 100%;
        margin: 0 auto;
        border-radius: 10px;
    }
    .our-section .more-info-left-box .info-box .description .table .middle p{
        text-align: center;
    }
    .our-services-description-tab .container ul li a{
        display: block;
        text-align: center;
    }
    .our-services-description-tab .container ul li a i{
        visibility: hidden;
    }
    .our-services-description-tab .container ul li a:after{
        content: "";
    }
    .footer .footer-menu ul li a{
        padding: 5px 10px;
    }
    .creditare .document-section .document-box{
        max-width: 500px;
        width: 100%;
        margin: 5px auto;
    }
    .creditare .document-section .document-box .table{
        width: 100%;
    }
    .creditare .document-section .document-box .table .middle{
        display: block;
        text-align: center;
    }
    .creditare .document-section .document-box .table .middle a{
        padding:  10px;
    }
    .creditare .pagination{
        float: none;
        width: 100%;
        max-width: 240px;
        margin: 5px auto;
    }
    .creditare .evenimente-box{
        max-width: 500px;
        margin: 15px auto;
    }
    .header-contact-page .uk-width-1-1{
        padding: 0;
    }
    .header .bottom-menu{
        display: none;
    }
    .our-section .more-info-left-box .top-description{
        padding: 0;
    }
    .our-section .more-info-left-box .top-description .title-posts p a{
        text-align: center;
        max-width: 100%;
        width: 100%;
    }
    .our-services-description-tab .uk-width-medium-6-10{
        padding-left: 25px;
    }
    .our-services-description-tab .tab-content{
        padding: 30px 20px;
    }
    .our-services-description-tab  .drop-down , .creditare.servicii-page .drop-down, .tab-box.servicii-page .drop-down{
        display: block;
        padding-bottom: 40px;
    }
    .creditare.servicii-page .drop-down,
    .tab-box.servicii-page .drop-down{
        padding-top: 30px;
    }
    .our-services-description-tab  .container .uk-tab-left, .creditare.servicii-page .container .uk-tab-left, .tab-box.servicii-page .container .uk-tab-left{
        display: none;
    }
    .creditare.servicii-page .uk-grid,
    .tab-box.servicii-page .uk-grid{
        margin-left: 0;
        width: 100% !important;
    }
    .creditare.servicii-page .uk-container-center,
    .tab-box.servicii-page .uk-container-center{
        width: 100% !important;
        padding: 0;
    }
    .creditare .container ul li a i{
        visibility: hidden;
    }
    .creditare .container ul li a {
        text-align: center;
    }
    .creditare .side-bar-nav{
        max-width: 380px;
        margin: 0 auto;
    }
    .creditare.servicii-page .uk-width-medium-4-10,
    .tab-box.servicii-page .uk-width-medium-4-10{
        padding: 0;
        margin-top: 20px;
    }
    .creditare.servicii-page .img-box .paragraph,
    .tab-box.servicii-page .img-box .paragraph{
        position: static;
        margin-top: 0;
        background: #444;
        padding: 25px 10px;
    }
    .creditare.servicii-page .uk-width-medium-6-10,
    .tab-box.servicii-page .uk-width-medium-6-10{
        width: 100%;
    }
    .creditare.servicii-page .uk-width-medium-4-10,
    .tab-box.servicii-page .uk-width-medium-4-10{
        width: 100%;
    }
    .creditare .uk-width-medium-3-10{
        display: none;
    }
    .creditare .pagination a:first-of-type{
       margin-left: 0;
    }
}
@media (max-width: 620px){
    .footer .footer-menu ul li{
        display: block;
        width: 100%;
    }
    .creditare .uk-width-medium-7-10 .uk-width-medium-1-3{
        width: 100%;
    }
    .footer .footer-menu ul li a{
        font-size: 20px;
        padding: 10px 50px;
    }
    .header-contact-page .header-title{
        padding: 0 50px;
    }
    .header-contact-page .header-title h3{
        text-align: center;
    }
    .header-contact-page .header-title h5{
        text-align: center;
        margin-top: 20px;
    }
}
@media (max-width: 500px){
    .parteners-section .uk-width-2-10{
        width: 100%;
        padding-left: 25px;
    }
}
@media (max-width: 450px){
    .header-contact-page .header-title{
        padding: 0 20px;
    }
}









